@font-face {
  font-family: 'ING Me';
  src: url('../font/INGMe.woff2') format('woff2'),
      url('../font/INGMe.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ING Me';
  src: url('../font/INGMe-Bold.woff2') format('woff2'),
      url('../font/INGMe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  font-family: "ING Me", Times, serif;
}

#ing-logo {
  width: auto;
  height: 2em;
  float: left;
  padding-top: 5px;
  padding-left: 5%;
}

#ing-card{
  width: auto;
  height: 25vmin;
  transform: rotate(50deg);
}

#avatar, #lock, #house, #id-card{
  width: auto;
  height: 40vmin;
}

#phone{
  width: auto;
  height: 35vmin;
  transform: scaleX(-1);
}

.image-container{
  height: 100vh;
  margin-right: 3vmin;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-container{
  width:60%;
  height:100vh;
  padding-left: 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.next-page-button{
  text-decoration: none;
  font-size: 100%;
  text-align: center;
  border: none;
  width: 40%;
  border-radius: 5px;
  height: 30px;
  color: white;
  background-color: #ff6600;
  line-height: 1em;
  cursor: pointer;
  font-weight: bold;
}


.submit-button{
  border: none;
  color: rgba(0,0,0,0);
  background: none;
  background: url(../img/right-chevron.png);
  background-position: center;
  background-size: cover;
  height: 32px;
  width: 32px;
}

header{
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 5%;
  overflow: hidden;
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
}

label{
  font-weight:bold;
}

li {
  float: right;
}

li a {
  display: block;
  color: #25285e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

hero{
  color: #25285e;
  font-weight: bold;
  font-size: 5vmin;
}

.body {
  color: #25285e;
  font-size: 2.1vmin;
}

.main-div{
  display: flex;
  height: 100%;
  width: 100%;
}

.half-div{
  flex: 1;
  /* background-color: blue; */
}

#l3{
  flex: 1;
  /* background-color: red; */
}

#l4{
  display: flex;
  height: 100%;
  width: 100%;
}

#l5{
  flex: 1;
  /* background-color: purple; */
}

#l6{
  flex: 1;
  /* background-color: yellow; */
}

.text-input{
  text-transform: capitalize;
  border-style: solid;
  font-size: 100%;
  width: 80%;
  border-width: 1px;
  border-radius: 5px;
  height: 30px;
  border-color: #25285e;
}

.email-input{
  text-transform: none;
}

label{
  color: #25285e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

input[type=number] {
    -moz-appearance:textfield;
}